# This is an example production configuration.
# For additional options, see the defaults and comments in aqd.conf.defaults.
# For an example (and working) development default, see aqd.conf.dev.

[DEFAULT]
basedir = /var
quattordir = %(basedir)s/quattor

[database_postgresql]
dbname=aqd
dbuser=broker_user
pool_max_overflow = 0
dsn = postgresql+psycopg2:///?service=aquilon_postgres
audit_schema = aqaudit

[database]
database_section = database_postgresql

[broker]
umask = 0022
server_notifications = cdb2sql bootserver
client_notifications = yes
templatesdir = /v/campus/ny/appl/aquilon/aqd/data/templates
logdir = %(quattordir)s/logs
